/ysco
/ys/
/cover.*
/testdata/sdk/
/local/
/testdata/*-go/pkg/
/testdata/gocache/*
/testdata/gocache-root/*
/testdata/run/ys/gobuildverifiercache/
/testdata/run/moxtools*
/testdata/run-root/ys/gobuildverifiercache/
/testdata/run-root/moxtools*
