<!doctype html>
<html>
	<head>
		<meta charset="utf-8" />
		<title>Ysco - {{ .SvcModPath }} {{ .SvcPkgDir }} {{ .SvcVersion }} {{ .SvcGoVersion }}</title>
		<style>
* { font-family: "Ubuntu", sans-serif; margin: 0; padding: 0; font-size: 1em; }
pre { font-family: "Ubuntu Mono", monospace; }
body { padding: 1em; }
h1, h2, h3 { margin-top: 2ex; margin-bottom: 1ex; }
h1 { font-size: 1.4em; }
h2 { font-size: 1.2em; }
h3 { font-size: 1em; }
ul { padding-left: 1em; }
p { margin-bottom: 1ex; }
th, td { padding: .2em .1em; }
[title] { text-decoration-style: dotted; }
fieldset { border: 0; }
		</style>
	</head>
	<body>
		<h1 style="margin-top: 0">Ysco - Managed automated updates</h1>

{{ $updateBusy := .UpdateBusy }}

	{{ if $updateBusy }}
		<p>An update is busy (likely waiting to ensure new process doesn't exit quickly after restart).</p>
	{{ end }}

		<form method="POST">
			<input type="hidden" name="command" value="check" />
			<button>Check for updates</button>
		</form>
		<br/>

	{{ if .PauseReason }}
		<p>Note: Updates are paused until manual intervention: {{ .PauseReason }}</p>
		<form method="POST">
			<input type="hidden" name="command" value="unpause" />
			<button>Unpause updates</button>
		</form>
	{{ else }}
		<form method="POST">
			<input type="hidden" name="command" value="pause" />
			<button>Pause updates</button>
		</form>
	{{ end }}

		<h2>Scheduled updates</h2>
	{{ if .Backoff }}
		<p>Backing off on updates after {{ .Backoff }} failures, last error: {{ .BackoffReason }}</p>
	{{ end }}
	{{ if .Scheduled }}
		<p>According to policy, time of discovery and update schedule:</p>
		<table>
			<thead>
				<tr>
					<th>Which</th>
					<th>Package path</th>
					<th>Version</th>
					<th>GoVersion</th>
					<th>Time</th>
					<th>Tag</th>
					<th>Action</th>
				</tr>
			</thead>
			<tbody>
			{{ range $row := .Scheduled }}
				<tr>
					<td>{{ $row.Which }}</td>
					<td>{{ $row.ModPath }} {{ $row.PkgDir }}</td>
					<td>{{ $row.Version }}</td>
					<td>{{ $row.GoVersion }}</td>
					<td>{{ $row.Time.Format "2006-01-02 15:04:05" }}</td>
					<td>{{ $tag := tagURL $row.ModPath $row.Version }} {{ if $tag }}<a title="Guessed URL for tag, may contain release notes, not be incorrect." href="{{ $tag }}">tag</a>{{ end }}</td>
					<td>
						<form method="POST">
							<fieldset{{ if $updateBusy }} disabled{{ end }}>
								<input type="hidden" name="command" value="update" />
								<input type="hidden" name="version" value="{{ $row.Version }}" />
								<input type="hidden" name="goversion" value="{{ $row.GoVersion }}" />
								<input type="hidden" name="which" value="{{ $row.Which }}" />
								<button>Update now</button>
							</fieldset>
						</form>
					</td>
				</tr>
			{{ end }}
			</tbody>
		</table>
	{{ else }}
		<p>No updates scheduled.</p>
	{{ end }}

		<h2>Service: {{ .SvcModPath }} {{ .SvcPkgDir }} "{{ .SvcVersion }}" {{ .SvcGoVersion }}</h2>
		<form method="POST">
			<fieldset{{ if $updateBusy }} disabled{{ end }}>
				<input type="hidden" name="command" value="update" />
				<input type="hidden" name="which" value="svc" />
				<div style="display: flex; gap: 1em">
					<div>
						<h3>Module</h3>
					{{ if .SvcVersionsError }}
						<p>Error looking up versions: {{ .SvcVersionsError }}</p>
					{{ end }}
						<ul>
						{{ $curversion := .SvcVersion }}
						{{ $SvcModPath := .SvcModPath }}
						{{ range $version := .SvcVersions }}
							<li>
								<label><input type="radio" name="version" value="{{ $version }}" {{ if eq $version $curversion }}checked{{ end }} /> {{ $version }}</label>
								{{ if tagURL $SvcModPath $version }}<a title="Guessed URL for tag, may contain release notes, not be incorrect." href="{{ tagURL $SvcModPath $version }}">tag</a>{{ end }}
							</li>
						{{ end }}
						</ul>
					</div>

					<div>
						<h3>Go toolchains</h3>
					{{ if .GoVersionsError }}
						<p>Error looking up Go toolchain versions: {{ .GoVersionsError }}</p>
					{{ end }}
						<ul>
						{{ $curgoversion := .SvcGoVersion }}
						{{ range $goversion := .GoVersions }}
							<li><label><input type="radio" name="goversion" value="{{ $goversion }}"  {{ if eq $goversion $curgoversion }}checked{{ end }} /> {{ $goversion }}</label></li>
						{{ end }}
						</ul>
					</div>

					<div>
						<h3 style="visibility: hidden">Go toolchains</h3>
						<button>Update now</button>
					</div>
				</div>
			</fieldset>
		</form>

		<form method="POST">
			<fieldset{{ if $updateBusy }} disabled{{ end }}>
				<input type="hidden" name="command" value="update" />
				<input type="hidden" name="which" value="svc" />
				<div style="margin-top: 2ex">
					<label>Version <input name="version" value="{{ .SvcVersion }}" style="width: 10em" /></label>
					<label>Go version <input name="goversion" value="{{ .SvcGoVersion }}" style="width: 10em" /></label>
					<button>Update now</button>
				</div>
			</fieldset>
		</form>

		<h2>Ysco: {{ .SelfModPath }} {{ .SelfPkgDir }} "{{ .SelfVersion }}" {{ .SelfGoVersion }}</h2>
		<form method="POST">
			<fieldset{{ if $updateBusy }} disabled{{ end }}>
				<input type="hidden" name="command" value="update" />
				<input type="hidden" name="which" value="self" />
				<div style="display: flex; gap: 1em">
					<div>
						<h3>Module</h3>
					{{ if .SelfVersionsError }}
						<p>Error looking up versions: {{ .SelfVersionsError }}</p>
					{{ end }}
						<ul>
						{{ $curversion := .SelfVersion }}
						{{ $SelfModPath := .SelfModPath }}
						{{ range $version := .SelfVersions }}
							<li>
								<label><input type="radio" name="version" value="{{ $version }}" {{ if eq $version $curversion }}checked{{ end }} /> {{ $version }}</label>

								{{ if tagURL $SelfModPath $version }}<a title="Guessed URL for tag, may contain release notes, not be incorrect." href="{{ tagURL $SelfModPath $version }}">tag</a>{{ end }}
							</li>
						{{ end }}
						</ul>
					</div>

					<div>
						<h3>Go toolchains</h3>
					{{ if .GoVersionsError }}
						<p>Error looking up Go toolchain versions: {{ .GoVersionsError }}</p>
					{{ end }}
						<ul>
						{{ $curgoversion := .SelfGoVersion }}
						{{ range $goversion := .GoVersions }}
							<li><label><input type="radio" name="goversion" value="{{ $goversion }}"  {{ if eq $goversion $curgoversion }}checked{{ end }} /> {{ $goversion }}</label></li>
						{{ end }}
						</ul>
					</div>

					<div>
						<h3 style="visibility: hidden">Go toolchains</h3>
						<button>Update now</button>
					</div>
				</div>
			</fieldset>
		</form>

		<form method="POST">
			<fieldset{{ if $updateBusy }} disabled{{ end }}>
				<input type="hidden" name="command" value="update" />
				<input type="hidden" name="which" value="self" />
				<div style="margin-top: 2ex">
					<label>Version <input name="version" value="{{ .SelfVersion }}" style="width: 10em" /></label>
					<label>Go version <input name="goversion" value="{{ .SelfGoVersion }}" style="width: 10em" /></label>
					<button>Update now</button>
				</div>
			</fieldset>
		</form>

		<h2>Links</h2>
{{ if not .Links }}
		<p>No links.</p>
{{ else }}
		<ul>
	{{ range $link := .Links }}
			<li><a href="{{ $link.URL }}">{{ $link.URL }}</a> {{ $link.Text }}</li>
	{{ end }}
		</ul>
{{ end }}

		<h2>Configuration</h2>
		<p>Started as: {{ .Argv }}</p>

		<h3>Config file</h3>
		<div>
			<form method="POST">
				<fieldset{{ if $updateBusy }} disabled{{ end }}>
					<input type="hidden" name="command" value="saveconfig" />
					<div style="max-width: 60em; margin: 1ex 0">
						<textarea name="config" rows="20" style="width: 100%">{{ .ConfigContents }}</textarea>
					</div>
					<button>Save configuration and reload</button>
				</fieldset>
			</form>
		</div>

		<h3>Configuration defaults</h3>
		<p>For absent/empty fields in the configuration file, the defaults are used.</p>
		<pre style="border: 1px solid #ddd; background-color: #eee; padding: .5em; display: inline-block">{{ .ConfigExample }}</pre>
	</body>
</html>
